<header class="navbar" th:fragment="header">
    <div class="stretch"></div>
    <a href="/">
        <button class="btn btn-dark">HOME</button>
    </a>

    <button class= "navbar" id="theme-button">Change Theme</button>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
</header>