<head th:fragment="properties">
    <meta charset="UTF-8">

    <!-- Client ID For Google Authentication-->
    <meta name="google-signin-client_id" content="462306874831-jdrulcrtiu63ffdc11qvo14rrb1ejbc5.apps.googleusercontent.com">

    <title>Kotiles</title>
    <script type="text/javascript" src="/res/loader.js" th:src="@{/res/loader.js}"></script>

    <!-- For Google Authentication-->
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>