@import url("https://fonts.googleapis.com/css2?family=Roboto");

* {
    border: 0px;
    border-spacing: 0px;
    margin: 0px;
    padding: 0px;
}

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-content: stretch;
}

header, footer {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: stretch;
}

table {
    width: 100%;
}

th, td {
    text-align: left;
    padding: 15px;
}

img {
    overflow: hidden;
}