.stretch {
    flex-grow: 1;
}

.g-signin2 {
    margin: 0 10px;
}

.menu-button {
    width: 400px;
    height: 80px;
    margin: 6px;
    border-radius: 30px;
    font-size: 24px;
}

button.navbar {
    padding: 0px 20px;
}