/* general */

.content {
    display: flex;
    flex-grow: 1;
}

.horizontal {
    flex-direction: row;
}

.vertical {
    flex-direction: column;
}

.centered {
    align-items: center;
    justify-content: center;
}

.padded {
    padding: 80px;
}

/* sections */

.main-display {
    flex-grow: 7;
    align-items: center;
    justify-content: center;
    display: flex;
}

.aux {
    flex-grow: 2;
    padding: 30px;
}

/* game specific */

.board-meta {
    width: 60%;
}

.board-container {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.board {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.tile-btn {
    height: 100px;
    width: 100px;
    background-color: #252525;
    color: white;
    font-size: 40pt;
    text-align: center;
}

#tile-0 {
    visibility: hidden;
}

