<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/properties :: properties"></head>

<body>
    <header th:replace="fragments/header :: header"></header>

    <div class="content horizontal">

        <section class="main-display">
            <div class="board-meta">
                <div class="board-container">
                    <div class="board" id="board">
                        <th:block th:each="i: ${#numbers.sequence(0, boardSize - 1)}">
                            <div class="tile-row row">
                                <th:block th:each="j: ${#numbers.sequence(0, boardSize - 1)}">
                                    <button class="tile-btn col" th:id="${'tile-'+tilesGrid[i][j].getTileId()}"
                                         th:text="${tilesGrid[i][j].getTileId()}"
                                         th:onclick="swapTilesCmp([[${i}]], [[${j}]]);" formmethod="post"></button>
                                </th:block>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </section>

        <section class="aux">
            <h2><time>00:00:00</time></h2>
            <button type="button" class="btn btn-primary" id="start">START</button>
            <button type="button" class="btn btn-danger" id="stop" disabled>STOP</button>

            <br>

            <h3>Game Mode</h3>
            <p th:text="${'Level '+gameLevel}"></p>
        </section>
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>