* {
    color: white;
    background-color: black;
}

footer {
    background-color: #202020;
    color: white;
}

/* class specific */

.menu-button {
    color: white;
    background-color: #202020;
}

.navbar, th {
    background-color: #0F0F0F;
    color: orange;
}

.main-display {
    background-color: #111111;
}

.board {
    background-color: #252525;
}