* {
    color: #0F0F0F;
    background-color: white;
}

footer {
    background-color: #0F0F0F;
    color: white;
}

/* class specific */

.menu-button {
    color: white;
    background-color: #0F0F0F;
}

.navbar, th {
    background-color: orange;
    color: #0F0F0F;
}

.main-display {
    background-color: #E0EDFF;
}

/* mode specific */

.board {
    background-color: #EFFDFF;
}
